ul {
  margin-top: 30px;
}

ul li {
  list-style-type: none;
}

li {
  padding: 15px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li button {
  padding: 0;
  text-align: center;
  vertical-align: center;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

li button {
  margin-right: 15px;
}

li button:last-child {
  margin-right: 0;
}

.complete {
  border-left: 5px solid var(--success-color);
  background-color: var(--success-bg);
  text-decoration: line-through;
}

.complete button {
  color: var(--success-color);
  border: none;
  border-radius: 50%;
}

.incomplete {
  border-left: 5px solid var(--error-color);
  background-color: var(--error-bg);
}

.incomplete button {
  color: var(--error-color);
  border: none;
  border-radius: 50%;
}
