.text-field {
  display: flex;
  flex-direction: column;
}

.text-field {
  width: 100%;
  margin-right: 10px;
}

form button {
  width: 100%;
  margin-top: 15px;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  background-color: var(--purple);
  border: none;
  color: #fff;
  font-family: 'Cairo', sans-serif;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background-color: #3c4a71;
}

.text-field input {
  margin-top: 5px;
  padding: 10px;
}

.text-field label {
  font-size: 24px;
}
