@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600&display=swap');

:root {
  --primary-black: #1f363d;
  --primary-white: #ffffff;
  --error-color: #b32d34;
  --error-bg: rgba(201, 93, 99, 0.1);
  --success-color: #2f9733;
  --success-bg: rgba(47, 99, 49, 0.1);
  --purple: #5b6b97;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-black);
  font-family: 'Cairo', sans-serif;
}

.main-container-wrapper {
  padding: 15px;
  max-width: 800px;
  margin: 0 auto;
}

input {
  background-color: #f4f4f4;
  border: 2px solid var(--primary-black);
  border-radius: 5px;
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

button:focus {
  outline: none;
}

.clear-btn {
  margin-top: 20px;
  background-color: var(--error-color);
  color: var(--primary-white);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-btn:hover {
  background-color: #d75b62;
}

.search-form {
  margin-top: 20px;
}

.search-form input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}
